.pokeMenu {
  margin-bottom: 5px;
  padding-right: 0;
  padding-bottom: 50px;
  width: 200px;
  img {
    width: 50px;
  }
}
.pokeModal {
  padding-left: 0 !important;
  border-radius: 10px;
  display: inline-table !important;
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    .modal-content {
      padding: 0;
      .modal-footer {
        button {
          margin-left: 10px;
        }
      }
    }
  }
}
.navHeader {
  background-color: royalblue;
  @media (max-width: 450px) {
    .brand-logo {
      font-size: 20px;
    }
  }
}
.battleMenu {
  .container {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.healthpoints {
  display: flex;
}
.progress-bar {
  width: 60%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  display: block;
  height: 8px;
  background-color: #1fb800;
  border-radius: 10px;
  transition: width 500ms ease-in-out;
}
